<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNLovc9OBMeBvmJxfE1OoVmMmFnJbUqro</string>
	<key>GCM_SENDER_ID</key>
	<string>466678587880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.eloapp.EloApp</string>
	<key>PROJECT_ID</key>
	<string>elo-app-d02ba</string>
	<key>STORAGE_BUCKET</key>
	<string>elo-app-d02ba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466678587880:ios:5bf29bcdd114ef5ed7445d</string>
</dict>
</plist>